table{
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#333333;
}
table th {
    background:#00BFFF;
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
}
table th, td {
    vertical-align:top;
    padding:5px 10px;
    border:1px solid #696969;
}
table tr {
    background:#F5FFFA;
}
table tr:nth-child(even) {
    background:#F0F8FF;
}
form label {
    display: inline-block;
    width: 100px;
}
form input[type="submit"] {
    border: 1px solid #194a43;
    background-color: #197a43;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
}
form input[type="text"] {
    border: 1p solid #197143;
}